<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "王立魔法図書館", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.email %></li>
          <li><%= link_to "修改信息", edit_user_registration_path %></li>
          <li><%= link_to "登出", destroy_user_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "注册", new_user_registration_path %></li>
          <li><%= link_to "登录", new_user_session_path  %></li>
        <% end %>
        <li><%= link_to "关于", about_path %></li>
      </ul>
    </div>
  </div>
</nav>
